* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

main {
  display: flex;
  /* justify-content: center; */
}






#container > div:nth-child(1) > div:nth-child(2) {
  width: 500px;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container a {
  color: #0e61c1;
}

.container {
  margin-inline: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#sale-section {
  display: flex;
  background: #e0001b;

  color: white;
  text-align: center;
  padding: 10px 0;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

}

#container-left{
  display: flex;
  align-items: center;
}

#hamburger{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border: none;
  margin-right:20px;
}


#logo{
  color: red;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
  margin-right: 20px;
}

#header-dropdown{
  display: flex;
  align-items: center;
}

#categories,
input[type="text"]{
  margin-right: 10px;
  padding: 5px;
}

#search{
  background: red;
  color: #fff;
  border:none;
  padding: 5px;
  cursor: pointer;
} 

#container-right{
  display: flex;
  align-items: center;
}

#iconLogIn, 
#iconCart{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  border: none;
  margin-left: 20px;
}

#iconLogIn i, 
#iconCart i{
  margin-bottom: 5px;
}

#logIn,
#cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  

#logo {
  color: #e0001b;
}

.breadcrumbs {
  display: flex;
  gap: 0.3rem;
}

.breadcrumbs i {
  color: #0e61c1;
}


/* filtering section */
.section{
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 50px;
}
.wrapper {
  /* width: min(65rem, 100% - 3rem); */
  margin-inline: auto;
}

/* .accordion-content {
  padding-inline: 2rem;
} */

.accordion {
  list-style: none;
  min-width: 15rem;
  width: 80%;
}

.accordion-content {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.accordion-heading {
  border-top: 1px solid #c4c4c4;
  padding: 0.2rem 0.4rem;
}

.accordion-trigger {
  width: 100%;
  border: 0;

  background-color: #fafafa;
  color: #141414;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;

  position: relative;

  cursor: pointer;
}

.accordion-trigger div {
  display: flex;
  justify-content: space-between;
}
.accordion-panel {
  position: relative;
  max-height: 0vh;
  background-color: #efefef;

  visibility: hidden;

  transition: 200ms ease;
}

.accordion-panel[aria-hidden="false"] {
  visibility: visible;
  padding: 1.2rem;
  max-height: 100vh;
}

.accordion-content h2 {
  background-color: #c4c4c4;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
}

.filter-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-inputs * {
  color: #0e61c1;
}

.typeCategory {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  gap: 0.5rem;
}

.typeOfBooks {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  gap: 0.5rem;
}

.left-aligned-content {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.infoActions h3 {
  text-align: center;
}

.views {
  display: flex;
  gap: 0.6rem;
}



.section {
  display: flex;
  flex-direction: row;
}


header{
  background-color: #f8f8f8;
  padding: 10px 20px;
}

#sale-section {
  background: red;
}

.section-container {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid gray;
  gap: 20px;
  padding: 20px;
}
.section-wrap {
  display: flex;
  flex-direction: column;
}
img {
  width: 100px;
}

div.section-bookdetail{
  width: 500px;
}
button {
  background: #ED1C25;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}