* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

main {
  display: flex;
  justify-content: center;
}



.section-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
img {
  width: 100px;
}
#container > div:nth-child(1) > div:nth-child(2){
  width: 500px;
}